.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: white !important;
  margin-right: 2px;
}

.github-icon {
  margin-left: 4px;
}

.header-nav-hover {
  background-color: hsla(0,100%,99%,.8);
  box-shadow: 0 0 4px rgba(0,0,0,.27);
  top: -52px !important;
}
